.title{
  &-medium{
    font-size: 2.3rem;
  }
  &-big{
    font-size:3.6rem;
  }
}

.divider{
  height: 3px;
  border-radius:8px;
  background: #fff;
  display: inline-block;
  margin:0 auto;
  width:120px;
  &-holder{

  }
}

.border-big{
  border:10px solid #000;
  border-radius: 15px;
}
.ds{
  &-main{
    &.v2{
      .ds{
        &-info{
          border:4px dashed #59c089;
          &-head{
            background-color: transparent;
          }
        }

        &-body{
          .table{
            &-holder{
              border:2px solid #fff;
              border-radius: 5px;
              .table{
                border:0;
              }
            }
          }
        }
      }
    }
  }

  &-inner{
    max-width:90%;
    margin:0 auto;
  }

  &-wrapper{
    max-width: 100%;
    margin:0 auto;
    background-color: $color-bg-green;

    @media (min-width:992px){
      max-width: $screen-size-md;
    }

    @media (min-width:1200px){
      max-width: $screen-size;
    }

  }

  &-body{
    font-size: 1.4rem;
    .table{
      tr{
        th,td{
          padding: 0.9rem 0.6rem;
          text-align: center;
        }
        th{
          font-size: 2.4rem;
        }
        td{
          font-size: 2rem;
          font-weight: 600;
        }

        &.next-time{
          border-top:3px solid $color-bg-green;
          background: #000;
        }
      }

      &-border-custom{
        tr{
          th{
            border:1px solid $border-gray;
            border-top:0;
            border-left:0;
            &:last-child{
              border-right:0;
            }
          }
          td{
            &:not(:last-child){
              border-right:1px solid $border-gray;
            }
          }
        }
      }

      &-prayer-times{
        tr{
          &:last-child{
            td,th{
              padding-bottom: 2.2rem;
            }
          }
        }
      }
    }
  }

  &-foot{
    //background: #0d6838;
    //background: $color-bg-dark;
    .table{
      border:0;
      td,th{
        font-size:1.8rem;
        font-weight: 700;
      }
    }
  }

  &-info{
    border: 4px solid #59c089;
    border-radius: 4px;
    &-head{
    }
    &-head{
      background: #59c089;
    }
    &-body{

    }

  }
}

.text-green{
  color:$color-bg-green;
}

.table{
  //background-color: $color-bg-green;
  color:#fff;
  border: 2px solid #1da15b;
  border-top:0;
  &-holder{
    max-width:90%;
    margin:0 auto;
  }

  &-striped{
    &>tbody{
      &>tr{
        &:nth-of-type(odd){
          &> *{
            color:#fff;
          }

        }
      }
    }
  }
}

.font-oswald{
  font-family:'Oswald',sans-serif;
}
.time-big{
  letter-spacing: 3px;
}
.bg-dark{
  background-color: $color-bg-dark;
}
.ls-1{
  letter-spacing: 1px;
}
.logo-holder{
  img{
    max-height:80px;
  }
  &.credit-logo{
    img{
      max-height:80px;
    }
  }
}
.jummah-holder{
  background: #fff;
  padding:20px 15px 10px 15px;
  border-radius: 8px;
  color:#000;
  margin-bottom:30px;
  .table{
    td,th{
      color:#000;
      font-size:1.8rem;
      font-weight: 700;
    }
  }
}

@media (min-width: 1200px){
  .fs-2{
    font-size: 2.2rem;
  }
}
