//color
$color-green-light: #a3cfbb;
$color-teal-light: #a6e9d5;
$color-bg-green: #1FAA60;
$color-bg-dark: #252b30;

//sizes
$screen-size: 1200px;
$screen-size-md: 800px;
$screen-size-sm: 500px;
$screen-size-xs: 96%;

//border-color
$border-gray: rgba(221, 221, 221, 0.1);
